# This file is for configuration settings for your
# application.
#
# The syntax is similar to windows .ini files ie
#
# [GroupName]
# Setting = Value
#
# Which can be read by your application using
#  e.g s3eConfigGetString("GroupName", "Setting", string)
#
# All settings must be documented in .config.txt files.
# New settings specific to this application should be
# documented in app.config.txt
#
# Some conditional operations are also permitted, see the
# S3E documentation for details.
[GX]
DataCacheSize=128000
[system]
width=480
height=320
fullscreen=0
fps=30
logfile=log.log
[interface_common]
background=0xFFD0D0D0
text=0x000000
style=none
border_hight=0xFFFFFFFF
border_low=0xFF707070
font=data\font2.fnt
[interface_buttons]
normal=0xFFB0B0B0
pressed=0xFF909090
text=0xFF000000